<div class="cards">
  <mat-card class="card">

    <div class="input"  fxLayout="column" fxLayoutAlign="center center">
      <div class="keep">
        <span class="k">K</span>
        <span class="e">e</span>
        <span class="e">e</span>
        <span class="p">p</span>
      </div>

      <div class="inputs">
        <mat-form-field appearance="outline">
          <mat-label>Enter your Email</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>person</mat-icon>

        </mat-form-field>
      </div>
      <div >
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input type="password" matInput placeholder="Placeholder" />
          <mat-icon matSuffix>key</mat-icon>

        </mat-form-field>
      </div>
    </div>

    <div class="btns"  fxLayoutGap="50%">
      <button class="btnj" routerLink="/"> <a>signUp instead</a> </button>
      <button  class="btn"  mat-raised-button color="accent" routerLink="/home">
        Login
      </button>
    </div>

  </mat-card>
</div>
